<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container" style="width:50%;height:300px">
    <label>Email</label>
    <input type="email">
    <label>Phone number</label>
    <input type="number">
    <label>New password:</label>
    <input type="password">
    <label>Confirm password</label>
    <input type="password">
    </div>
    </body>
</html>